.home-split-line {
  padding-left: 10px;
}

.weather {
  margin-left: 30px;
  display: inline-block;
}

span.weather-ico {
  height: 40px;
  width: 50px;
  background: url('../../assets/weather-icon.png') no-repeat;
  float: left;
  background-position: -143px -185px;
}

label.weather-label {
  line-height: 38px;
}

.personal-settings {
  text-align: right;
}

/* 面包屑样式 */

.bread-crub {
  float: left;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  cursor: pointer;
}
