header {
  text-align: center;
}

header h1 {
  margin: auto;
  line-height: 60px;
}

img.header-logo {
  height: 38px;
  vertical-align: middle;
}

label.header-label {
  font-weight: normal;
  font-size: 28px;
  /* font-family: cursive; */
  font-family: fantasy;
}

.dialog-class {
  text-align: left;
}
