.platform-index {
  /* position: absolute;
  top: 102px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34495e; */
  height: 88%;
  min-height: 570px;
}

.platform-row-top {
  height: 55%;
}

.platform-row-bottom {
  height: 45%;
}

.platform-col {
  height: 100%;
  border: 1px solid #566879;
}

